<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/hero-image.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cookin with nodejs">
    </div>

    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">Grandes idéias de receitas </h1>
        <p class="lead">
            Explore nossa enorme seleção de ideias de receitas deliciosas, incluindo: sobremesas fáceis, ideias deliciosas para jantares veganos e vegetarianos, receitas de massas maravilhosas, assados ​​rápidos, refeições para toda a família e receitas sem glúten.
        </p>
    </div>
</div>